body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fddb30; /* Yellow color */
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

header img {
    width: 150px;
    height: auto;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

#highlights ul {
    padding: 0;
}

#highlights li {
    margin-bottom: 5px;
}

footer {
    background-color: #fddb30;
    color: #333;
    text-align: center;
    padding: 10px;
}
